// Farbpalette 
$schriftfarbe: #2C262A;
$secondary-color: #fffdef;
$rosy: #fec2ea;
$violet: rgb(163, 63, 163);
$yellow: rgb(255, 255, 130);
$alert-bg-red: rgb(255, 76, 76);
$alert-bg-blue: rgb(132, 181, 197);
$alert-bg-green: rgb(92, 183, 92);

// Schriftart
$font-style: Dancing Script, serif;
$font-style-2: Arial, Helvetica, sans-serif;

// Größen
.text-centered {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

$sizes: 100, 250, 500;

@each $size in $sizes {
    .w-#{$size} {
        width: #{$size}px;
    }

    .h-#{$size} {
        height: #{$size}px;
    }

}

.small {
    width: 100px;
    height: 100px;
    
}

.medium {
    width: 250px;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
}

.big {
    width: 500px;
    height: 500px;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
}

// Padding
.padding-s {
    padding: 5px 20px 5px 20px;
}

.padding-m {
    padding: 15px 20px 15px 20px;
}

.padding-l {
    padding: 25px 20px 25px 20px;
}

// Margin
.margin-s {
    margin: 5px 20px 5px 20px;
}

.margin-m {
    margin: 15px 20px 15px 20px;
}

.margin-l {
    margin: 25px 20px 25px 20px;
}

// Abgerundete Ecken
.rounded {
    border-radius: 5px;
}

// Schatten
.shadow {
    box-shadow: 10px 10px rgb(177, 171, 171);
}

// Styling der Elemente
body {
    background-color: $secondary-color;
    color: $schriftfarbe;
}

.myfont {
    font-family: $font-style;
}

.square {
    border: .5px solid #2C262A;
}

.rosy {
    background-color: $rosy;
}

.violet {
    background-color: $violet;
}

.yellow {
    background-color: $yellow;
}

.alert-box {
    color: $secondary-color;
    font-family: $font-style-2;
    border: .5px solid;
}

.ab-red {
    background-color: $alert-bg-red;
    border-color: rgb(138, 39, 39);
}

.ab-green {
    background-color: $alert-bg-green;
    border-color: rgb(53, 102, 53);
}

.ab-blue {
    background-color: $alert-bg-blue;
    color: $schriftfarbe;
    border-color: rgb(88, 120, 131);
}

.closebutton {
    margin-left: 0.2em;
    color: $secondary-color;
    font-weight: bold;
    float: right;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: $schriftfarbe;
  }