// Farbpalette 
$schriftfarbe: #2C262A;
$buttonfarbe: #F7DE50; // Haben wir bisher noch nicht genutzt
$primary-color: #E58F65;
$secondary-color: #F6F0CB;

body {
    background-color: $secondary-color;
    color: $schriftfarbe;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: $primary-color;
    color: white;
    border-radius: 5px;
    border: solid .1px $schriftfarbe;
    padding: .3em 1em .3em 1em;
    &:hover {
        background-color: #CF6E3D; // ist nicht die primary color, sondern ein Ticken dunkler
        transition-duration: 1s;
    }
}

/* Header */
#logo {
    width: 100px;
    height: 50%;
}

.mr-auto, .mx-auto {
    margin-right: auto;
}

/* Content */
.carousel, .carousel-item {
    height: 700px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    min-height: 500px;
}

.carousel-caption {
    color: white !important;
    background-color: rgba(44, 38, 42, .9);
}

.slide-headline {
    font-weight: bold;
}

.slide-text {
    padding: .3em 2em .3em 2em;
}

h1, h2, h3 {
    color: $primary-color;
}

/* Footer */
.links {
    text-decoration: none;
}