.small {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.medium {
  width: 250px;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

.big {
  width: 500px;
  height: 500px;
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
}

.padding-s {
  padding: 5px 20px 5px 20px;
}

.padding-m {
  padding: 15px 20px 15px 20px;
}

.padding-l {
  padding: 25px 20px 25px 20px;
}

.margin-s {
  margin: 5px 20px 5px 20px;
}

.margin-m {
  margin: 15px 20px 15px 20px;
}

.margin-l {
  margin: 25px 20px 25px 20px;
}

.rounded {
  border-radius: 5px;
}

.shadow {
  box-shadow: 10px 10px #b1abab;
}

body {
  background-color: #fffdef;
  color: #2C262A;
}

.myfont {
  font-family: Dancing Script, serif;
}

.rosy {
  background-color: #fec2ea;
  border: .5px solid #2C262A;
}

.violet {
  background-color: #a33fa3;
  border: .5px solid #2C262A;
}

.yellow {
  background-color: #ffff82;
  border: .5px solid #2C262A;
}

.alert-box {
  color: #fffdef;
  font-family: Arial, Helvetica, sans-serif;
  border: .5px solid;
}

.ab-red {
  background-color: #ff4c4c;
  border: #8a2727;
}

.ab-green {
  background-color: #5cb75c;
  border: #356635;
}

.ab-blue {
  background-color: #84b5c5;
  color: #2C262A;
  border: #587883;
}

.closebutton {
  margin-left: 0.2em;
  color: #fffdef;
  font-weight: bold;
  float: right;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #2C262A;
}
